/* Media Query de celulares gama alta*/
@media only screen and (min-width:680px) {
    html {
        font-size: 13px;
    }
    .redline{ 
        margin-top: -9px;
        margin-left: -8px;     
    }
    .circle{   
        width: 34%;
        margin-top: 21.4rem;
        margin-left: 6rem;    
    }
    .logo{
        width: 45%;  
    }
    #order{
        font-size: 18px;
        position: absolute;
        width: 9.5rem;
        height: 3rem;
        left: 5.4rem;
    }
    #search{
          
        width: 28rem;
        height: 3rem;
        left: 17.3rem;
        font-size: 18px;
    }
    #searchIcon{
        position: absolute;
        width: 5.5%;
        left: 46rem;
        top: auto;
    }
    .toolsFilterContainer{
        margin-top: 4rem;
        width: 43.8rem;
        height: 14.3rem;
        left: 4rem;
    
    }
    .toolsFilterContainer h3{
        font-size: 24px;
    }
    .toolsFilterContainer label{
        font-size: 18px;
    }
    #category{
        font-size: 18px;
        position: absolute;
        width: 25rem;
        height: 3rem;
        left: 9rem;
    }
}

@media only screen and (min-width:768px) {
    /* Media Query de tableta*/

    html {
        font-size: 14px;
    }
    
    .logo{
        width: 40%;
        
    }
    .redline{ 
        margin-top: -9px;
        margin-left: -8px;     
    }
    .circle{   
        width: 34%;
        margin-top: 24rem;
        margin-left: 6rem;    
    }
    #order{
        font-size: 18px;
        position: absolute;
        width: 9.5rem;
        height: 3rem;
        left: 5.4rem;
    }
    #search{
          
        width: 28rem;
        height: 3rem;
        left: 17.3rem;
        font-size: 18px;
    }
    #searchIcon{
        position: absolute;
        width: 5.5%;
        left: 46rem;
        top: auto;
    }
    .toolsFilterContainer{
        margin-top: 4rem;
        width: 43.8rem;
        height: 14.3rem;
        left: 5.5rem;
    }
    .toolsFilterContainer h3{
        font-size: 24px;
    }
    .toolsFilterContainer label{
        font-size: 18px;
    }
    #category{
        font-size: 18px;
        position: absolute;
        width: 25rem;
        height: 3rem;
        left: 9rem;
    }
   .card {
    width: 184px;
    height: 184px;
    flex: 0 1 calc(30% - 1rem);
    }
    .imgpokemon{    
    width: 105px;
    height: 105px;
    }
    .styleh3{
    font-size: 13px;
    line-height: 30px;
    color: #000000;
    }
    .strongStyle{
    font-size: 16px;
    }
    /* Estilos tarjeta Ind */
    .logoId{
        width:27%;
        left: 35rem;
        top: 1rem;
    }
    #idBox{
        top: 46rem;
        left: -0.7rem;
        transform: rotate(-90deg);
    }
    #idBox p{
        margin: 0;
        font-size: 35px;
    }
    .idBoxAbout{
        width: 29rem;
        left: 20.5rem;
        top: 9rem;
        font-size: 22px;
    }
    .imgOne{
        width: 25%;
        left: 8.8rem;
        top:27rem;
    }
    .idBoxdescription{ 
        width: 18.5rem;
        left:30rem;
        top: 27rem;
    }
    .idBoxdescription p{
        font-size: 18px;
        padding: 2rem;
    }
    .titlebtn{
        padding:10px;  
        width:25rem;
        font-size:24px;
        left: 22.1rem;
        top: 46.4rem;
      }
      .showbtn{
        font-size:24px;
        line-height:27px;
        color:#E3350D;
      }
      #info{
        margin-top:7rem;
        left: 22rem;
        padding:2rem;
        width:22.2rem;
        font-size:20px;
      }
      .titlebtn2{
        padding:10px;  
        width:25rem;
        font-size:24px;
        left: 22.1rem;
        top: 51.5rem;
      }
      .showbtn2{
        font-size:24px;
        line-height:27px;
        color:#E3350D;
      }
      #info2{
        margin-top:12.1rem;
        left: 22rem;
        padding:2rem;
        width:22.1rem;
        font-size:20px;
      }
}

/* Media Query de laptop*/
@media only screen and (min-width: 992px) {
    html {
        font-size: 15px;
    }
    .redline{ 
        width: 19%;
        margin-top: -11px;   
    }
    .circle{   
        width: 28%;
        margin-top: 10rem;
        margin-left: 2.8rem;    
    }
    .logo{
        width: 35%;
    }

    #order{
        font-size: 16px;
        position: absolute;
        width: 9rem;
        height: 3.3rem;
        left: 13rem;
    }
    #search{
          
        width: 28rem;
        height: 3.3rem;
        left: 23rem;
        font-size: 16px;
    }
    #searchIcon{
        position: absolute;
        width: 3.8%;
        left: 52rem;
        top: auto;
    }
    .toolsFilterContainer{
        margin-top: 3.5rem;
        width: 48rem;
        height: 10rem;
        left: 8rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    
    }
    .toolsFilterContainer h3{
        font-size: 24px;
        margin-left: 14rem;
        margin-top: 1rem;
    }
    .toolsFilterContainer label{
        font-size: 20px;
    }
    #category{
        font-size: 16px;
        position: absolute;
        width: 14rem;
        height: 3rem;
        left: 50rem;
        margin-top: 4.5rem;
    }
    .radiobtn{
        width: 20px;
        height: 20px;
    }
}

/* Media Query de Desktop*/
@media only screen and (min-width: 1200px) {
  
    html {
        font-size: 16px;
    }
    .redline{ 
        width: 19%;
        margin-top: -11px;   
    }
    .circle{   
        width: 23%;
        margin-top: 16rem; 
        margin-left: 6rem;   
    }
    
    .logo{
        width: 33%;  
    }

    #order{
        font-size: 18px;
        position: absolute;
        width: 11rem;
        height: 3.5rem;
        left: 19.6rem;
    }
    #search{
          
        width: 32.5rem;
        height: 3.5rem;
        left: 33.5rem;
        font-size: 18px;
    }
    #searchIcon{
        position: absolute;
        width: 4%;
        left: 67.5rem;
        top: auto;
    }
    .toolsFilterContainer{
        margin-top: 4rem;
        width: 63.8rem;
        height: 12.6rem;
        left: 13rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    
    }
    .toolsFilterContainer h3{
        font-size: 28px;
        margin-left: 20rem;
    }
    .toolsFilterContainer label{
        font-size: 24px;
    }
    #category{
        font-size: 18px;
        position: absolute;
        width: 19rem;
        height: 3.5rem;
        left: 36rem;
        margin-top: 5rem;
    }
    /* Estilos tarjeta Ind */
    .logoId{
        width:17%;
        left: 70rem;
        top: 1rem;
    }
    #idBox{
        top: 45rem;
        left: 0.5rem;
        transform: rotate(-90deg);
        top: 40rem;
    }
    #idBox p{
        margin: 0;
        font-size: 40px;
       
    }
    .idBoxAbout{
        width: 46rem;
        left: 33rem;
        top: 9rem;
        font-size: 25px;
    }
    .imgOne{
        width: 15%;
        left: 10rem;
        top:20rem;
    }
    .idBoxdescription{ 
        width: 16rem;
        left:32.5rem;
        top: 22.5rem;
    }
    .idBoxdescription p{
        font-size: 20px;
        padding: 2rem;
    }
    .titlebtn{
        padding:10px;  
        width:25rem;
        font-size:24px;
        left: 55rem;
        top: 26rem;
      }
      .showbtn{
        font-size:24px;
        line-height:27px;
        color:#E3350D;
      }
      #info{
        margin-top:-7.7rem;
        left: 55rem;
        padding:2rem;
        width:22.2rem;
        font-size:20px;
      }
      .titlebtn2{
        padding:10px;  
        width:25rem;
        font-size:24px;
        left: 55rem;
        top: 32rem;
      }
      .showbtn2{
        font-size:24px;
        line-height:27px;
        color:#E3350D;
      }
      #info2{
        margin-top:-2rem;
        left: 55rem;
        padding:2rem;
        width:22.1rem;
        font-size:20px;
      }
}